@font-face {
    font-family: 'iransans';
    font-style: normal;
    font-weight: bold;
    src: url('../font/IRANSans-Bold-web.eot'),
        url('../font/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),
        url('../font/IRANSansWeb(FaNum)_Bold.woff') format('woff'),
        url('../font/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'iransans';
    font-style: normal;
    font-weight: normal;
    src: url('../font/IRANSansWeb(FaNum)_Light.eot'),
        url('../font/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),
        url('../font/IRANSans-web.woff') format('woff'),
        url('../font/IRANSans-Light-web.ttf') format('truetype');
}

body {
    background: url(../image/body.jpg);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    width: 100%;
}

* {
    font-family: 'iransans';
    direction: rtl;
    font-size: 14px;
}
.container {
    

}
.drop-btn-style {
    border-radius: 30px;
    box-shadow: 2px 3px 15px 0px #dddddd75;
    padding: 5px;
}

.call-icon1 {
    border: 1px solid #ddd3;
    border-radius: 50%;
    padding: 4px;
}
.call-icon2 {
    border: 1px solid #dddddd5e;
    border-radius: 50%;
    padding: 4px;
}
.call-icon3 {
    border: 1px solid #dddddd82;
    border-radius: 50%;
    padding: 8px;
}

.dropdown-toggle::after {
    content:unset !important;
}
.flag-pic {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    padding: 20px 10px;
    border-radius: 50px;
    background: linear-gradient(to left, #f8f9fb, #ffffff00) ;
    background-color: unset !important;
}
nav.breadcrumb-nav {
    padding: 20px 30px;
    border-radius: 50px;
    box-shadow: 0px 0px 30px 4px #dddddd42;
    background: white;
    margin: 30px 0 30px;
}

ol , ul ,li {
    margin: 0 !important;
    list-style: none;
    padding: 0 !important ;
}
ul.navbar-nav {
    gap: 45px;
}
a.nav-link {
    font-size: 14px;
    font-weight: bold;
}
a.nav-link:active , 
a.nav-link.active {
    font-size: 14px;
    font-weight: bold;
    color: white !important;
    background-color: #fd5b34;
    border-radius: 30px;
}

.image-login {
    border-radius: 40px;
}
.nav-menu {
    width: 50%;
    margin: 10px 0;
}
.first-head {
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    gap: 40px;
    margin: 10px 0;
}
.login-form {
    top: 0;
    left: 0;
    background-color: white;
    height: 100%;
    width: 50%;
    border-radius: 38px;
    padding: 40px;
    text-align: center;
    box-shadow: -10px 5px 30px 1px #dddddd7a;
}
.user-cellphone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #F5F3FC;
    border-bottom: 1px solid #F5F3FC;
    padding: 20px 0;
    margin: 25px;
}
i.fa-solid.fa-moon {
    font-size: xx-large;
}
i.fa-solid.fa-phone-volume {
    font-size: large;
    color: #6d6a8ddb;
}
.s{
    border-radius: 12px;
    background: white;
    padding: 10px;
    margin-left: 15px;
}

.ss{
    border-radius: 12px;
    border: 2px solid #e1dfdf;
    padding: 10px;
    position: relative;
    color: white;
}
.menu-fix{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
i.fa-solid.fa-caret-up {
    position: absolute;
    top: -13px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 22px;
    text-align: center;
}
.dark-btn {
    box-shadow: 0px 2px 1px 1px #dddddd4f;
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    height: 40px;
}
.part1 {
    background-color: #EE6C4D;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 30px 25px 10px 20px;
    border-radius: 0px 0 50px 50px;
    text-align: center;
    margin: 0 30px;
}


/* Section Break 5 */
.section-break-5 { 
    display: block;
    height: 0;
    margin: 1.75rem auto 1.5rem;
    text-align: center;
    width: 10%;
    color: #EE6C4D;
}
    /* &:before {
     
      content: 'j';
      display: inline-block;
      left: 50%;
      letter-spacing: 0;
      text-indent: 0;
      text-rendering: geometricPrecision;
      transform: translateY(-65%);
      width: 15px;
    } */
i.fa-regular.fa-user {
    font-size: 30px;
    color: #FF8A66;
    margin-left: 15px;
}

.phone-input {
    border-radius: 50px;
    padding: 12px;
}


.phone-box label {
    display: inline-block;
    position: absolute;
    bottom: 270px;
    right: 100px;
    background: #fff;
    padding: 0 10px;
}
.phone-box {
    width: 90%;
    margin: 25px;
}

.login-form button.btn.btn-primary {
    width: 90%;
    border-radius: 50px;
    padding: 16px;
    background: #EE6C4D;
    border: none;
    font-weight: bolder;
    font-size: 16px;
    margin: 10px 0;
}

.forget-pass {
    text-align: right;
    margin: 20px;
}

.forget-pass a {
    text-decoration: none;
    color: #643DE6;
}
.not-registered {
    margin: 10px 0;
}
.not-registered a {
    color: #EE6C4D;
}

a {
    text-decoration: none;
}

.license span{
    color: #fff;
}

.license a{
    color: #fff;
    font-weight: bolder;
    font-size: 16px;
}
.social a{
    color: #fff;
    font-weight: bolder;
    font-size: 16px;
    margin: 0 15px;
}

.social i {
    font-size: 28px;
}
.vr{
    color: #fff;
    margin: 0 20px;
}

.designer {
    color: #fff;
}
.part2 {
    background: #fff;
    box-shadow: 1px 0px 8px 0px #ddd;
    border-radius: 30px;
    padding: 0px 50px 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.position-relative {
    margin: 100px 0;
}
.description.flex-column {
    width: 30%;
    display: flex;
    gap: 30px;
    align-items: center;
}
.list-of-product li {
   display: flex;
   align-items: center;
}

.list-of-product a {
   color: #232323;
 }
.list-of-product hr {
    width: 10px;
    color: #EE6C4D;
    margin-left: 4px;
}
.list-of-product {
    display: flex;
    width: 25%;
    justify-content: space-between;
}

.des {
line-height: 30px;}

.footer-position {
}

.footer {
    margin: 150px 0 40px;
}

.part3 {
    width: 36%;
    position: relative;
    margin-left: 30px;
    text-align: center;
    height: 600px;
}
.ppppp {
    height: 625px;
    background-image: url('../image/footer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    position: absolute;
    top: 0;
    bottom: -80px;
    margin: auto;
    width: 100%;
}

.part3-first {
    position: absolute;
    padding: 5px;
    background-color: #F8F9FB;
    border-radius: 8px;
    width: 239px;
    top: -14px;
    margin: auto;
    right: 97px;
}
/* End of login page */

/* //////////////////////////////////////////////// */


.currency-section {
    background-image: url('../image/bitcoin-page/bit.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.currency-logo {
    background-image: url('../image/bitcoin-page/bit-design.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 10%;
    text-align: center;
}
.currency-logo img {
    text-align: center;
    width: 50%;
}
.currency-abbreviation {
    background-color: #643DE6;
    border-radius: 30px;
    text-align: center;
}
.currency-buy {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 30px;
    margin: 55px 0;
    box-shadow: 0px 0px 48px -20px #ddd;
    gap: 20px;
}

.currency-sell {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    padding: 30px;
    border-radius: 30px;
    margin: 55px 0;
    box-shadow: 0px 0px 48px -20px #ddd;
    gap: 20px;

}

.currency-section .d-flex {
    gap: 15px;
}

.buy-detail .price span {
    color:#EE232B;
    font-weight: bold;
}
.buy-detail .price , .currency , .sell-detail .price , .currency{
    color:#939AA4;
}

.buy-detail .cost , .sell-detail .cost {
    color: #2D365D;
    font-size: 18px;
    font-weight: bold;
}


.sell-detail .price span {
    color:#49BE78;
    font-weight: bold;

}

